---
import CaseStudies from "../sections/CaseStudies.astro";
import CTA from "../sections/CTA.astro";
import Hero from "../sections/Hero.astro";
import Services from "../sections/Services.astro";
import MainLayout from "../layout/MainLayout.astro";
import About from "../sections/About.astro";

const preloadAboutImage = "/img/dance.webp";
const nav = [
  {
    title: "Home",
    href: "/",
  },
  {
    title: "Services",
    href: "/services",
  },
  {
    title: "Case Studies",
    href: "/case-studies",
  },
  {
    title: "Contact",
    href: "#contact",
  },
];
---

<MainLayout title="Institut 4000" navigation={nav}>
  <link rel="preload" as="image" href={preloadAboutImage} slot="header" />
  <link rel="canonical" href="https://www.institut4000.io/" slot="header" />
  <main>
    <Hero />
    <About />
    <Services />
    <CaseStudies />
  </main>
  <CTA />
</MainLayout>
