---
import Link from "../components/Link.astro";
import MainLayout from "../layout/MainLayout.astro";
import SectionContainer from "../layout/SectionContainer.astro";
import CTA from "../sections/CTA.astro";
import PageHeader from "../sections/PageHeader.astro";

const nav = [
  {
    title: "Home",
    href: "/",
  },
  {
    title: "Services",
    href: "/services",
  },
  {
    title: "Case Studies",
    href: "/case-studies",
  },
];
---

<MainLayout title="Legal | Institut 4000" navigation={nav}>
  <PageHeader headline='Imprint & <br class="sm:hidden" /> Privacy Policy'>
    I take the protection of your personal data very seriously. I process
    personal data gathered when visiting my websites in compliance with
    applicable data protection legislation. I neither publish your data nor
    transmit them to third parties on an unauthorized basis.
  </PageHeader>
  <SectionContainer
    className={"py-20 md:py-32 lg:py-56 lg:text-lg text-black/70"}
  >
    <section class="space-y-10">
      <h1 class="font-display text-3xl lg:text-5xl text-black">
        Site notice / Imprint
      </h1>
      <div class="space-y-3">
        <h2 class="font-display text-xl lg:text-2xl text-black">
          Information pursuant to Sect. 5 German Telemedia Act (TMG)
        </h2>
        <p>Niels Clormann<br />Wadzeckstraße 4<br />10178 Berlin</p>
      </div>
      <div class="space-y-3">
        <h2 class="font-display text-xl lg:text-2xl text-black">
          Contact Information
        </h2>
        <p>Email: contact@institut4000.gmbh</p>
      </div>
      <div class="space-y-3">
        <h2 class="font-display text-xl lg:text-2xl text-black">
          Person responsible for editorial
        </h2>
        <p>Niels Clormann<br />Wadzeckstraße 4<br />10178 Berlin</p>
      </div>
    </section>

    <section class="space-y-10 mt-20">
      <h1 class="font-display text-3xl lg:text-5xl text-black">
        Privacy Policy
      </h1>
      <div class="space-y-5 lg:space-y-8">
        <h2 class="font-display text-xl lg:text-2xl text-black">
          1. An overview of data protection
        </h2>
        <div class="space-y-3">
          <h1 class="font-display text-lg lg:text-xl text-black">
            General Information
          </h1>
          <p>
            The following information will provide you with an easy to navigate
            overview of what will happen with your personal data when you visit
            this website. The term “personal data” comprises all data that can
            be used to personally identify you. For detailed information about
            the subject matter of data protection, please consult my Data
            Protection Declaration, which I have included beneath this copy.
          </p>
        </div>

        <div class="space-y-3">
          <h1 class="font-display text-lg lg:text-xl text-black">
            Data recording on this website
          </h1>
          <p>
            <strong class="text-black lg:leading-[3rem]"
              >Who is the responsible party for the recording of data on this
              website (i.e., the “controller”)?</strong
            >
            <br />

            The data on this website is processed by the operator of the
            website, whose contact information is available under section
            “Information about the responsible party (referred to as the
            “controller” in the GDPR)” in this Privacy Policy.

            <br />
            <br />

            <strong class="text-black lg:leading-[3rem]"
              >How do I record your data?</strong
            >
            <br />

            I collect your data as a result of your sharing of your data with
            me. This may, for instance be information you enter into my contact
            form. Other data shall be recorded by my IT systems automatically or
            after you consent to its recording during your website visit. This
            data comprises primarily technical information (e.g., web browser,
            operating system, or time the site was accessed). This information
            is recorded automatically when you access this website.

            <br />
            <br />

            <strong class="text-black lg:leading-[3rem]"
              >What are the purposes I use your data for?</strong
            >
            <br />

            A portion of the information is generated to guarantee the error
            free provision of the website. Other data may be used to analyze
            your user patterns.

            <br />
            <br />

            <strong class="text-black lg:leading-[3rem]"
              >What rights do you have as far as your information is concerned?
            </strong>
            <br />

            You have the right to receive information about the source,
            recipients, and purposes of your archived personal data at any time
            without having to pay a fee for such disclosures. You also have the
            right to demand that your data are rectified or eradicated. If you
            have consented to data processing, you have the option to revoke
            this consent at any time, which shall affect all future data
            processing. Moreover, you have the right to demand that the
            processing of your data be restricted under certain circumstances.
            Furthermore, you have the right to log a complaint with the
            competent supervising agency. Please do not hesitate to contact me
            at any time if you have questions about this or any other data
            protection related issues.
          </p>
        </div>

        <div class="space-y-3">
          <h1 class="font-display text-lg lg:text-xl text-black">
            Analysis tools and tools provided by third parties
          </h1>
          <p>
            There is a possibility that your browsing patterns will be
            statistically analyzed when your visit this website. <br />
            Such analyses are performed primarily with what I refer to as analysis
            programs.
            <br />For detailed information about these analysis programs please
            consult the Data Protection Declaration below.
          </p>
        </div>
      </div>

      <div class="space-y-5 lg:space-y-8">
        <div class="space-y-3">
          <h2 class="font-display text-xl lg:text-2xl text-black">
            2. Hosting and Content Delivery Networks (CDN)
          </h2>
          <p>
            Vercel is hosting the content of this website at the following
            provider:
          </p>
        </div>
        <div class="space-y-3">
          <h1 class="font-display text-lg lg:text-xl text-black">
            Amazon Web Services (AWS)
          </h1>
          <p>
            The provider is the Amazon Web Services EMEA SARL, 38 Avenue John F.
            Kennedy, 1855 Luxembourg (hereinafter referred to as “AWS”).
            <br />

            When you visit my website, your personal data will be processed on
            AWS servers. This may also result in the transfer of personal data
            to the parent company of AWS in the United States. The transfer of
            data to the US is based on the EU’s standard contractual clauses.
            For details please see the <Link
              href="https://d1.awsstatic.com/legal/aws-gdpr/AWS_GDPR_DPA.pdf"
            >
              AWS GDPR Data Processing Addendum
            </Link>.

            <br />
            <br />
            For more information, please see the
            <Link href="https://aws.amazon.com/privacy/?nc1=f_pr">
              AWS Data Privacy Policy
            </Link>.

            <br />
            <br />
            AWS is used on the basis of Art. 6(1)(f) GDPR. I have a legitimate interest
            in a depiction of my website that is as reliable as possible.
            <br /> If appropriate consent has been obtained, the processing is carried
            out exclusively on the basis of Art. 6(1)(a) GDPR and § 25 (1) TTDSG,
            insofar the consent includes the storage of cookies or the access to
            information in the user’s end device (e.g., device fingerprinting) within
            the meaning of the TTDSG. This consent can be revoked at any time.

            <br />
            <br />
            <strong class="text-black lg:leading-[3rem]">Data Processing</strong
            >
            <br />

            I have concluded a data processing agreement (DPA) with the
            above-mentioned provider. This is a contract mandated by data
            privacy laws that guarantees that they process personal data of my
            website visitors only based on my instructions and in compliance
            with the GDPR.
          </p>
        </div>

        <div class="space-y-3">
          <h1 class="font-display text-lg lg:text-xl text-black">
            Amazon CloudFront CDN
          </h1>
          <p>
            Vercel uses the Content Delivery Network Amazon CloudFront CDN. The
            provider is Amazon Web Services EMEA SARL, 38 avenue John F.
            Kennedy, L-1855, Luxembourg (hereinafter referred to as “Amazon”).

            <br />
            <br />

            Amazon CloudFront CDN is a globally distributed Content Delivery
            Network. During these transactions, the information transfer between
            your browser and my website is technically routed via the Content
            Delivery Network. This enables me to boost the global availability
            and performance capabilities of this website. The use of Amazon
            CloudFront CDN is based on my legitimate interest in keeping the
            presentation of my web services as error free and secure as possible
            (Art. 6(1)(f) GDPR).

            <br />
            <br />

            The data transfer to the United States is based on the Standard
            Contract Clauses of the EU Commission. You can find the details
            <Link
              href="https://aws.amazon.com/blogs/security/aws-gdpr-data-processing-addendum/?nc1=h_ls"
            >
              here
            </Link>.

            <br />
            <br />

            For more information on Amazon CloudFront CDN please follow <Link
              href="https://d1.awsstatic.com/legal/privacypolicy/AWS_Privacy_Notice__German_Translation.pdf"
            >
              this
            </Link>
            link.

            <br /><br />
            <strong class="text-black lg:leading-[3rem]">Data Processing</strong
            >
            <br />

            I have concluded a data processing agreement (DPA) with the
            above-mentioned provider. This is a contract mandated by data
            privacy laws that guarantees that they process personal data of my
            website visitors only based on my instructions and in compliance
            with the GDPR.
          </p>
        </div>
        <div class="space-y-5 lg:space-y-8">
          <h2 class="font-display text-xl lg:text-2xl text-black">
            3. General information and mandatory information
          </h2>
          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              Data protection
            </h1>
            <p>
              The operators of this website and its pages take the protection of
              your personal data very seriously. Hence, I handle your personal
              data as confidential information and in compliance with the
              statutory data protection regulations and this Data Protection
              Declaration.
              <br />
              <br />
              Whenever you use this website, a variety of personal information will
              be collected. Personal data comprises data that can be used to personally
              identify you. This Data Protection Declaration explains which data
              I collect as well as the purposes I use this data for. It also explains
              how, and for which purpose the information is collected.
              <br />
              <br />
              I herewith advise you that the transmission of data via the Internet
              (i.e., through e-mail communications) may be prone to security gaps.
              It is not possible to completely protect data against third-party access.
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              Information about the responsible party (referred to as the
              “controller” in the GDPR)
            </h1>
            <p>
              The data processing controller on this website is:
              <br /><br />
              Niels Clormann<br />
              Wadzeckstraße 4<br />
              10178 Berlin<br />
              <br />
              E-mail: contact@institut4000.gmbh
              <br /><br />
              The controller is the natural person or legal entity that single-handedly
              or jointly with others makes decisions as to the purposes of and resources
              for the processing of personal data (e.g., names, e-mail addresses,
              etc.).
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              Storage duration
            </h1>
            <p>
              Unless a more specific storage period has been specified in this
              privacy policy, your personal data will remain with me until the
              purpose for which it was collected no longer applies. If you
              assert a justified request for deletion or revoke your consent to
              data processing, your data will be deleted, unless I have other
              legally permissible reasons for storing your personal data (e.g.,
              tax or commercial law retention periods); in the latter case, the
              deletion will take place after these reasons cease to apply.
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              General information on the legal basis for the data processing on
              this website
            </h1>
            <p>
              If you have consented to data processing, I process your personal
              data on the basis of Art. 6(1)(a) GDPR or Art. 9 (2)(a) GDPR, if
              special categories of data are processed according to Art. 9 (1)
              DSGVO. In the case of explicit consent to the transfer of personal
              data to third countries, the data processing is also based on Art.
              49 (1)(a) GDPR. If you have consented to the storage of cookies or
              to the access to information in your end device (e.g., via device
              fingerprinting), the data processing is additionally based on § 25
              (1) TTDSG. The consent can be revoked at any time. If your data is
              required for the fulfillment of a contract or for the
              implementation of pre-contractual measures, I process your data on
              the basis of Art. 6(1)(b) GDPR. Furthermore, if your data is
              required for the fulfillment of a legal obligation, I process it
              on the basis of Art. 6(1)(c) GDPR. Furthermore, the data
              processing may be carried out on the basis of my legitimate
              interest according to Art. 6(1)(f) GDPR. Information on the
              relevant legal basis in each individual case is provided in the
              following paragraphs of this privacy policy.
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              Information on data transfer to the USA and other non-EU countries
            </h1>
            <p>
              Among other things, I use tools of companies domiciled in the
              United States or other from a data protection perspective
              non-secure non-EU countries. If these tools are active, your
              personal data may potentially be transferred to these non-EU
              countries and may be processed there. I must point out that in
              these countries, a data protection level that is comparable to
              that in the EU cannot be guaranteed. For instance, U.S.
              enterprises are under a mandate to release personal data to the
              security agencies and you as the data subject do not have any
              litigation options to defend yourself in court. Hence, it cannot
              be ruled out that U.S. agencies (e.g., the Secret Service) may
              process, analyze, and permanently archive your personal data for
              surveillance purposes. I have no control over these processing
              activities.
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              Revocation of your consent to the processing of data
            </h1>
            <p>
              A wide range of data processing transactions are possible only
              subject to your express consent. You can also revoke at any time
              any consent you have already given me. This shall be without
              prejudice to the lawfulness of any data collection that occurred
              prior to your revocation.
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              Right to object to the collection of data in special cases; right
              to object to direct advertising (Art. 21 GDPR)
            </h1>
            <p>
              IN THE EVENT THAT DATA ARE PROCESSED ON THE BASIS OF ART. 6(1)(E)
              OR (F) GDPR, YOU HAVE THE RIGHT TO AT ANY TIME OBJECT TO THE
              PROCESSING OF YOUR PERSONAL DATA BASED ON GROUNDS ARISING FROM
              YOUR UNIQUE SITUATION. THIS ALSO APPLIES TO ANY PROFILING BASED ON
              THESE PROVISIONS. TO DETERMINE THE LEGAL BASIS, ON WHICH ANY
              PROCESSING OF DATA IS BASED, PLEASE CONSULT THIS DATA PROTECTION
              DECLARATION. IF YOU LOG AN OBJECTION, I WILL NO LONGER PROCESS
              YOUR AFFECTED PERSONAL DATA, UNLESS I AM IN A POSITION TO PRESENT
              COMPELLING PROTECTION WORTHY GROUNDS FOR THE PROCESSING OF YOUR
              DATA, THAT OUTWEIGH YOUR INTERESTS, RIGHTS AND FREEDOMS OR IF THE
              PURPOSE OF THE PROCESSING IS THE CLAIMING, EXERCISING OR DEFENCE
              OF LEGAL ENTITLEMENTS (OBJECTION PURSUANT TO ART. 21(1) GDPR).
              <br /><br />
              IF YOUR PERSONAL DATA IS BEING PROCESSED IN ORDER TO ENGAGE IN DIRECT
              ADVERTISING, YOU HAVE THE RIGHT TO OBJECT TO THE PROCESSING OF YOUR
              AFFECTED PERSONAL DATA FOR THE PURPOSES OF SUCH ADVERTISING AT ANY
              TIME. THIS ALSO APPLIES TO PROFILING TO THE EXTENT THAT IT IS AFFILIATED
              WITH SUCH DIRECT ADVERTISING. IF YOU OBJECT, YOUR PERSONAL DATA WILL
              SUBSEQUENTLY NO LONGER BE USED FOR DIRECT ADVERTISING PURPOSES (OBJECTION
              PURSUANT TO ART. 21(2) GDPR).
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              Right to log a complaint with the competent supervisory agency
            </h1>
            <p>
              In the event of violations of the GDPR, data subjects are entitled
              to log a complaint with a supervisory agency, in particular in the
              member state where they usually maintain their domicile, place of
              work or at the place where the alleged violation occurred. The
              right to log a complaint is in effect regardless of any other
              administrative or court proceedings available as legal recourses.
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              Right to data portability
            </h1>
            <p>
              You have the right to demand that I hand over any data I
              automatically process on the basis of your consent or in order to
              fulfil a contract be handed over to you or a third party in a
              commonly used, machine readable format. If you should demand the
              direct transfer of the data to another controller, this will be
              done only if it is technically feasible.
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              Information about, rectification and eradication of data
            </h1>
            <p>
              Within the scope of the applicable statutory provisions, you have
              the right to at any time demand information about your archived
              personal data, their source and recipients as well as the purpose
              of the processing of your data. You may also have a right to have
              your data rectified or eradicated. If you have questions about
              this subject matter or any other questions about personal data,
              please do not hesitate to contact me at any time
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              Right to demand processing restrictions
            </h1>
            <p>
              You have the right to demand the imposition of restrictions as far
              as the processing of your personal data is concerned. To do so,
              you may contact me at any time. The right to demand restriction of
              processing applies in the following cases:
              <br /><br />
              In the event that you should dispute the correctness of your data archived
              by me, I will usually need some time to verify this claim. During the
              time that this investigation is ongoing, you have the right to demand
              that I restrict the processing of your personal data. If the processing
              of your personal data was/is conducted in an unlawful manner, you have
              the option to demand the restriction of the processing of your data
              in lieu of demanding the eradication of this data. If I do not need
              your personal data any longer and you need it to exercise, defend or
              claim legal entitlements, you have the right to demand the restriction
              of the processing of your personal data instead of its eradication.
              If you have raised an objection pursuant to Art. 21(1) GDPR, your rights
              and my rights will have to be weighed against each other. As long as
              it has not been determined whose interests prevail, you have the right
              to demand a restriction of the processing of your personal data.
              <br /><br />
              If you have restricted the processing of your personal data, these
              data – with the exception of their archiving – may be processed only
              subject to your consent or to claim, exercise or defend legal entitlements
              or to protect the rights of other natural persons or legal entities
              or for important public interest reasons cited by the European Union
              or a member state of the EU.
            </p>
          </div>

          <div class="space-y-3">
            <h1 class="font-display text-lg lg:text-xl text-black">
              SSL and/or TLS encryption
            </h1>
            <p>
              For security reasons and to protect the transmission of
              confidential content, such as purchase orders or inquiries you
              submit to me as the website operator, this website uses either an
              SSL or a TLS encryption program. You can recognize an encrypted
              connection by checking whether the address line of the browser
              switches from “http://” to “https://” and also by the appearance
              of the lock icon in the browser line.
              <br />
              <br />
              If the SSL or TLS encryption is activated, data you transmit to me
              cannot be read by third parties.
            </p>
          </div>
        </div>
      </div>

      <div class="space-y-5 lg:space-y-8">
        <h2 class="font-display text-xl lg:text-2xl text-black">
          4. Recording of data on this website
        </h2>
        <div class="space-y-3">
          <h1 class="font-display text-lg lg:text-xl text-black">
            Server log files
          </h1>
          <p>
            The provider of this website and its pages automatically collects
            and stores information in so-called server log files, which your
            browser communicates to me automatically. The information comprises:
            <br /><br />
            The type and version of browser used
            <br />
            The used operating system
            <br />
            Referrer URL
            <br />
            The hostname of the accessing computer
            <br />
            The time of the server inquiry
            <br />
            The IP address
            <br /><br />
            This data is not merged with other data sources.
            <br /><br />
            This data is recorded on the basis of Art. 6(1)(f) GDPR. The operator
            of the website has a legitimate interest in the technically error free
            depiction and the optimization of the operator’s website. In order to
            achieve this, server log files must be recorded.
          </p>
        </div>

        <div class="space-y-3">
          <h1 class="font-display text-lg lg:text-xl text-black">
            Request by e-mail, telephone, or fax
          </h1>
          <p>
            If you contact me by e-mail, telephone or fax, your request,
            including all resulting personal data (name, request) will be stored
            and processed by me for the purpose of processing your request. I do
            not pass these data on without your consent.
            <br /><br />
            These data are processed on the basis of Art. 6(1)(b) GDPR if your inquiry
            is related to the fulfillment of a contract or is required for the performance
            of pre-contractual measures. In all other cases, the data are processed
            on the basis of my legitimate interest in the effective handling of inquiries
            submitted to me (Art. 6(1)(f) GDPR) or on the basis of your consent (Art.
            6(1)(a) GDPR) if it has been obtained; the consent can be revoked at
            any time.
            <br /><br />
            The data sent by you to me via contact requests remain with me until
            you request me to delete, revoke your consent to the storage or the purpose
            for the data storage lapses (e.g. after completion of your request).
            Mandatory statutory provisions - in particular statutory retention periods
            - remain unaffected.
          </p>
        </div>
      </div>
    </section>
  </SectionContainer>
  <CTA>Any open questions? Please reach out.</CTA>
</MainLayout>
