---
import Feature from "../components/Feature.astro";
import MainLayout from "../layout/MainLayout.astro";

import CTA from "../sections/CTA.astro";
import PageHeader from "../sections/PageHeader.astro";

const nav = [
  {
    title: "Home",
    href: "/",
  },
  {
    title: "Services",
    href: "/services",
    isActive: true,
  },
  {
    title: "Case Studies",
    href: "/case-studies",
  },
  {
    title: "Contact",
    href: "#contact",
  },
];
---

<MainLayout title="Services | Institut 4000" navigation={nav}>
  <link
    rel="canonical"
    href="https://www.institut4000.io/services"
    slot="header"
  />
  <PageHeader
    headline='Bringing your vision to life, <br class="hidden md:block"> one pixel at a time.'
  >
    I am a full-stack developer with a specialization in creating digital
    experiences. From simple prototypes to full-fledged SaaS applications, I
    have the skills and experience to bring your ideas to life. Take a look at
    my services and let's work together to make it happen.
  </PageHeader>
  <main>
    <div class="py-20 md:py-32 lg:py-56 flex flex-col space-y-10">
      <Feature
        imgUrl="/img/development.webp"
        name="Development"
        subServices={[
          "Landing Pages (Astro)",
          "Mobile Applications (React Native)",
          "Web Applications (NextJs)",
          "Backend Services (Python, NodeJS)",
          "And much more",
        ]}
      >
        Do you have an idea that you want to bring to life? Let me help you
        bring your vision to reality. I specialize in full-stack development and
        can create anything from a simple prototype to a full-fledged SaaS
        application. I will work closely with you to understand your needs, and
        together we will create a user-friendly solution that helps your
        business thrive.
      </Feature>

      <Feature
        imgUrl="/img/design.webp"
        name="Design"
        subServices={[
          "UI/UX Design",
          "Graphic Design",
          "Website Design",
          "Branding and Identity",
          "Design Quality Assurance",
        ]}
        invert={true}
      >
        I'm not just a developer - I'm also skilled in design. I can help you
        create a cohesive and visually appealing digital experience that
        effectively communicates your message. My design process focuses on
        simplifying complex solutions while also considering existing brand
        guidelines and specific needs.
      </Feature>

      <Feature
        imgUrl="/img/consulting.webp"
        name="Consulting"
        subServices={[
          "MVP Creation",
          "Design",
          "Techstack",
          "Infrastructure",
          "Deployment",
          "Almost every IT-Topic",
        ]}
      >
        I have a wealth of experience in IT and product development, which
        allows me to provide expert advice in a variety of areas. I can help you
        with everything from project management to devops to backend coding, and
        more.
      </Feature>

      <Feature
        imgUrl="/img/productmanagement.webp"
        name="Product Management"
        subServices={[
          "Product Roadmap",
          "Product Priorization",
          "Product Delivery",
          "Customer Feedback",
          "Project Management",
        ]}
        invert={true}
      >
        Product management is my passion. I can help you take your product to
        the next level, whether you're a startup or an established organization.
        I specialize in site architecture, UX/UI design, and visual identity,
        and can help you create a product that is profitable and easy to use.
      </Feature>
    </div>
  </main>
  <CTA />
</MainLayout>
