---
import SectionContainer from "../layout/SectionContainer.astro";
---

<SectionContainer className={"py-20 relative"}>
  <img
    src="/img/tutti-blue-rocket.png"
    class="absolute right-20 md:right-36 w-20 md:w-36 -top-20 md:-top-40 -rotate-45 select-none"
    alt="blue rocket sticker"
  />
  <img
    src="/img/tutti-search-string.png"
    class="absolute -rotate-12 -left-10 md:-left-5 w-36 md:w-64 -top-5 md:-top-10 select-none"
    alt="search string sticker"
  />
  <p class="text-xl md:w-2/3">
    Dear small business owners, creators, creatives and people who love to bring
    ideas to life: your wishes have been granted. I'm Niels, a development
    enthusiast with a passion for design, exploring new entrepreneurial
    opportunities in technology.
  </p>
</SectionContainer>
