---
interface Props {
  href: string;
  newTab?: boolean;
}

const { href, newTab = false } = Astro.props;
---

<a
  href={href}
  target={newTab ? "_blank" : "_self"}
  class="text-blue-500 underline inline-block"
  ><slot />
</a>
