---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div class="text-black/70" data-aos="fade-up">
  <h1 class="font-display text-2xl my-3 text-black">{name}</h1>
  <slot />
</div>
