---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div class="text-black/70" data-sal="slide-up" data-sal-duration="1000">
  <h3 class="font-display text-2xl my-3 text-black">{name}</h3>
  <slot />
</div>
