---
import SectionContainer from "../layout/SectionContainer.astro";
const copyrightYear = new Date().getFullYear();
---

<SectionContainer className={"bg-black py-10"}>
  <div
    class="flex flex-col md:flex-row justify-between md:items-center space-y-2 md:space-y-0"
  >
    <div class="space-y-2">
      <h1 class="text-gray-100 font-display text-4xl flex-1 select-none">
        <a href="/">4000</a>
      </h1>
    </div>
    <div class="text-gray-300 text-sm">
      &copy; {copyrightYear} Institut 4000. All rights reserved.
    </div>
  </div>
</SectionContainer>
