---
import SectionContainer from "../layout/SectionContainer.astro";
---

<SectionContainer
  className={"py-36 sm:py-44 relative overflow-hidden"}
  backgroundColor={"#000"}
>
  <div
    data-sal="zoom-in"
    data-sal-duration="1000"
    class="flex flex-col items-start md:items-center justify-center space-y-10 lg:space-y-20 z-30"
  >
    <h1
      class="font-display text-4xl md:text-6xl lg:text-8xl text-white text-center w-full"
    >
      I love to create<br />digital experiences.
    </h1>

    <div class="w-full flex justify-center">
      <a
        href={"#contact"}
        class="inline-block rounded-md text-center transition bg-white text-black hover:bg-opacity-90 py-2.5 px-6 select-none"
      >
        Me too, let's create one!
      </a>
    </div>
  </div>
</SectionContainer>
