---
import SectionContainer from "../layout/SectionContainer.astro";
---

<div class="overflow-hidden" id="projects">
  <svg
    id="visual"
    viewBox="0 0 1440 120"
    class="min-w-max -mx-4 text-neutral-900"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    ><path
      d="M0 52L120 58.3C240 64.7 480 77.3 720 80.7C960 84 1200 78 1320 75L1440 72L1440 121L1320 121C1200 121 960 121 720 121C480 121 240 121 120 121L0 121Z"
      fill="currentColor"
      stroke-linecap="round"
      stroke-linejoin="miter"></path>
  </svg>
  <SectionContainer className={"bg-neutral-900 py-10"}>
    <div class="space-y-3 flex flex-col items-center">
      <h1 class="font-display text-4xl md:text-5xl text-white">Projects</h1>
    </div>
  </SectionContainer>
</div>
