---
import Service from "../components/Service.astro";
import SectionContainer from "../layout/SectionContainer.astro";
---

<SectionContainer
  className={"pt-20 md:pt-32 lg:pt-56"}
  id={"services"}
  backgroundColor={"#fff"}
>
  <div
    class="space-y-3 flex flex-col items-center"
    data-sal="slide-up"
    data-sal-duration="1000"
  >
    <h1 class="font-display text-4xl md:text-5xl text-black">Services</h1>
    <p class="text-center text-black/70">
      You may ask yourself "why you?". Here are a few services I can bring to
      the table:
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 mt-10">
    <Service name="Development">
      I bring ideas to life by utilizing cutting-edge technology and
      concentrating on a stunning visual result via clean and maintainable code.
    </Service>

    <Service name="Design">
      My design process is about making complex solutions, simple. I combine
      thoughtful user experience with a clear visual identity.
    </Service>

    <Service name="Consulting">
      In our strategy process, we analyze customer needs, identify general
      product problems and advise on important future decisions.
    </Service>

    <Service name="Product Management">
      In our strategy process, we analyze customer needs, identify general
      product problems and advise on important future decisions.
    </Service>
  </div>

  <div
    class="mt-12 md:mt-16 flex flex-col sm:items-center"
    data-sal="slide-up"
    data-sal-duration="1000"
  >
    <a
      href="/services"
      class="rounded-md text-center transition bg-black text-white hover:bg-opacity-90 py-2.5 px-6 select-none"
      >Explore Services</a
    >
  </div>
</SectionContainer>
