---
import Service from "../components/Service.astro";
import SectionContainer from "../layout/SectionContainer.astro";
---

<SectionContainer className={"py-20"} id={"services"}>
  <div class="space-y-3">
    <h1 class="font-display text-4xl md:text-5xl">Services</h1>
    <p class="text-gray-600">
      You may ask yourself "why you?". Here are a few services I can bring to
      the table:
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-10">
    <Service
      imgUrl="/img/tutti-laptop-with-code-programming-screen-1.png"
      name="Development"
    >
      Whether you need a fancy landing page for your product or a mobile app, I
      can build it for you.
    </Service>

    <Service
      imgUrl="/img/tutti-computer-with-graphic-design-elements-1.png"
      name="Design"
    >
      If you like this page you will probably want to take a look at my design
      skills.
    </Service>

    <Service
      imgUrl="/img/tutti-happy-and-sad-smileys-on-weighing-scale.png"
      name="Consulting"
    >
      Of course my expertise can also just be used for consulting purposes. Does
      it make sense to use this technology? How would I scale my app? Name your
      question and I am sure I have an answer.
    </Service>

    <Service
      imgUrl="/img/tutti-notepad-and-pencil-for-ideas.png"
      name="Product Management"
    >
      Managing a team of engineers can be hard, especially if you are not using
      the same lingo. Through my background in technology I know how to talk
      with devs.
    </Service>
  </div>
</SectionContainer>
