---
import Service from "../components/Service.astro";
import SectionContainer from "../layout/SectionContainer.astro";
---

<SectionContainer
  className={"pt-20 md:pt-32 lg:pt-56"}
  id={"services"}
  backgroundColor={"#fff"}
>
  <div
    class="space-y-3 flex flex-col items-center"
    data-sal="slide-up"
    data-sal-duration="1000"
  >
    <h2 class="font-display text-4xl md:text-5xl text-black">Services</h2>
    <p class="text-center text-black/70">
      I'm a freelancer who is specialized in digital services like full-stack
      development, design, and consulting.
    </p>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-7 gap-x-10 mt-10"
  >
    <Service name="Development">
      I'll bring your idea to life by utilizing cutting-edge technology and
      concentrating on a stunning visual result via clean and maintainable code.
    </Service>

    <Service name="Design">
      My design process focuses on simplifying sophisticated solutions. We'll
      focus on making your content beautiful, cohesive, and easily navigated by
      all.
    </Service>

    <Service name="Consulting">
      I'll make sure your business will be on the right path, whether it's
      solving IT problems or providing advice for business development (and much
      more).
    </Service>

    <Service name="Product Management">
      My experience in the mentioned fields has shown me how to meet deadlines
      with a minimum of fuss, while keeping an eye on budgets and quality
      standards.
    </Service>
  </div>

  <div
    class="mt-12 md:mt-16 flex flex-col sm:items-center"
    data-sal="slide-up"
    data-sal-duration="1000"
  >
    <a
      href="/services"
      class="rounded-md text-center transition bg-black text-white hover:bg-opacity-90 py-2.5 px-6 select-none"
      >Explore Services</a
    >
  </div>
</SectionContainer>
