---
import Service from "../components/Service.astro";
import SectionContainer from "../layout/SectionContainer.astro";
---

<SectionContainer
  className={"pt-20 md:pt-32 lg:pt-56"}
  id={"services"}
  backgroundColor={"#fff"}
>
  <div
    class="space-y-3 flex flex-col items-center"
    data-sal="slide-up"
    data-sal-duration="1000"
  >
    <h2 class="font-display text-4xl md:text-5xl text-black">Services</h2>
    <p class="text-center text-black/70">
      Your Vision, My Expertise: Together, We Turn Ideas into Reality
    </p>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-7 gap-x-10 mt-10"
  >
    <Service name="Development">
      Skilled in full-stack development, I adeptly transform visions into
      practical, user-focused online solutions that propel business success and
      user engagement.
    </Service>

    <Service name="Design">
      I craft visually appealing and functional designs, enabling businesses to
      distinctively communicate their brand and ensure an engaging user journey.
    </Service>

    <Service name="Consulting">
      I offer specialized consulting services in IT and business development,
      aimed at enhancing operational efficiency and tackling intricate business
      challenges.
    </Service>

    <Service name="Product Management">
      My focus in product management is on efficient delivery and maintaining
      high quality, aligning products with business objectives, market trends,
      and user demands.
    </Service>
  </div>

  <div
    class="mt-12 md:mt-16 flex flex-col sm:items-center"
    data-sal="slide-up"
    data-sal-duration="1000"
  >
    <a
      href="/services"
      class="rounded-md text-center transition bg-black text-white hover:bg-opacity-90 py-2.5 px-6 select-none"
      >Explore Services</a
    >
  </div>
</SectionContainer>
