---
import Service from "../components/Service.astro";
import SectionContainer from "../layout/SectionContainer.astro";
---

<SectionContainer
  className={"pt-20 md:pt-32 lg:pt-56"}
  id={"services"}
  backgroundColor={"#fff"}
>
  <div
    class="space-y-3 flex flex-col items-center"
    data-sal="slide-up"
    data-sal-duration="1000"
  >
    <h2 class="font-display text-4xl md:text-5xl text-black">Services</h2>
    <p class="text-center text-black/70">
      Transform your ideas into reality with my services.
    </p>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-7 gap-x-10 mt-10"
  >
    <Service name="Development">
      I specialize in bringing ideas to life with my full-stack development
      skills, creating user-friendly solutions that help businesses thrive.
    </Service>

    <Service name="Design">
      I create beautiful, cohesive, and easy-to-navigate content that helps
      businesses succeed and effectively communicates their message.
    </Service>

    <Service name="Consulting">
      I offer a range of consulting services to help businesses succeed,
      including IT problem-solving and business development advice.
    </Service>

    <Service name="Product Management">
      I ensure smooth and successful product discovery and delivery by helping
      meet deadlines and maintain quality standards.
    </Service>
  </div>

  <div
    class="mt-12 md:mt-16 flex flex-col sm:items-center"
    data-sal="slide-up"
    data-sal-duration="1000"
  >
    <a
      href="/services"
      class="rounded-md text-center transition bg-black text-white hover:bg-opacity-90 py-2.5 px-6 select-none"
      >Explore Services</a
    >
  </div>
</SectionContainer>
