---
interface Props {
  href: string;
  isActive?: boolean;
  textColor?: string;
}

const { href, isActive, textColor = "#fff" } = Astro.props;
const className = isActive
  ? "text-4xl select-none after:transition-all relative after:absolute after:h-[2px] after:mx-auto after:inset-x-0 after:-bottom-2 after:bg-current"
  : "text-4xl select-none after:transition-all relative after:absolute after:h-[2px] after:mx-auto after:inset-x-0 after:-bottom-2 after:w-0 after:bg-current";
---

<a
  class={className}
  data-sal="slide-up"
  data-sal-duration="700"
  href={href}
  onclick="toggleMenu()"
  style={`color: ${textColor}`}
  ><slot />
</a>
