---
import MainLayout from "../../layout/MainLayout.astro";
import CaseStudies from "../../sections/CaseStudies.astro";
import CTA from "../../sections/CTA.astro";
import PageHeader from "../../sections/PageHeader.astro";

const nav = [
  {
    title: "Home",
    href: "/",
  },
  {
    title: "Services",
    href: "/services",
  },
  {
    title: "Case Studies",
    href: "/case-studies",
    isActive: true,
  },
  {
    title: "Contact",
    href: "#contact",
  },
];
---

<MainLayout title="Case Studies | Institut 4000" navigation={nav}>
  <link
    rel="canonical"
    href="https://www.institut4000.io/case-studies"
    slot="header"
  />
  <PageHeader headline="I strive for excellence when delivering a solution.">
    I am passionate about creating solutions that meet your needs and help your
    business thrive. From fresh and innovative content to a perfect handover, I
    am always looking for new ways to serve my clients. Take a look at my case
    studies and see for yourself.
  </PageHeader>
  <main>
    <CaseStudies />
  </main>
  <CTA />
</MainLayout>
