---
import Footer from "../components/Footer.astro";
import Navbar from "../components/nav/Navbar.astro";
import "sal.js/dist/sal.css";

interface Item {
  title: string;
  href: string;
  isActive?: boolean;
}

interface Props {
  title: string;
  bgColor?: string;
  navigation: Item[];
}

const { title, navigation, bgColor } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-Type" content="text/html; utf-8" />
    <meta http-equiv="Pragma" content="cache" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta http-equiv="content-Language" content="en" />
    <meta
      name="description"
      content="Institut 4000 serves as the personal brand of Niels Clormann, who specializes in designing and developing digital experiences from idea to final product."
    />
    <meta
      name="keywords"
      content="institut4000, institut 4000, niels clormann, full-stack development, ux/ui-design, it-consulting, product management"
    />
    <meta name="author" content="Niels Clormann" />
    <meta name="publisher" content="Institut 4000" />
    <meta name="copyright" content="Niels Clormann © 2022" />
    <meta name="audience" content="all" />
    <meta name="page-type" content="private homepage" />
    <meta name="page-topic" content="service" />
    <meta http-equiv="Reply-to" content="contact@institut4000.io" />
    <meta name="expires" content="" />
    <meta name="revisit-after" content="2 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#171717" />
    <meta name="msapplication-TileColor" content="#171717" />
    <meta name="theme-color" content="#ffffff" />

    <slot name="header" />

    <title>{title}</title>
  </head>
  <body
    class="min-h-screen"
    style={bgColor ? `background-color: ${bgColor}` : ""}
  >
    <div class="flex min-h-screen flex-col justify-between">
      <Navbar items={navigation} />

      <slot />

      <Footer />
    </div>

    <style>
      html {
        scroll-behavior: smooth;
        min-height: 100vh;
      }

      /* Satoshi */
      @font-face {
        font-family: "Satoshi";
        src: url("/fonts/satoshi/Satoshi.woff2") format("woff2"),
          url("/fonts/satoshi/Satoshi.woff") format("woff"),
          url("/fonts/satoshi/Satoshi.ttf") format("truetype");
        font-weight: 700;
        font-display: swap;
        font-style: normal;
      }

      /* Switzer */
      @font-face {
        font-family: "Switzer";
        src: url("/fonts/switzer/Switzer-Variable.woff2") format("woff2"),
          url("/fonts/switzer/Switzer-Variable.woff") format("woff"),
          url("/fonts/switzer/Switzer-Variable.ttf") format("truetype");
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
      }
    </style>

    <script>
      const sal = (await import("sal.js")).default;

      sal();
    </script>
  </body>
</html>
