---
import Footer from "../components/Footer.astro";
import Navbar from "../components/nav/Navbar.astro";

interface Item {
  title: string;
  href: string;
  isActive?: boolean;
}

interface Props {
  title: string;
  navigation: Item[];
}

const { title, navigation } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-Type" content="text/html; utf-8" />
    <meta http-equiv="Pragma" content="cache" />
    <!-- <meta name="robots" content="INDEX,FOLLOW" /> -->
    <meta name="”robots”" content="”noindex,nofollow”" />
    <meta http-equiv="content-Language" content="en" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Niels Clormann" />
    <meta name="publisher" content="Institut 4000" />
    <meta name="copyright" content="Niels Clormann © 2022" />
    <meta name="audience" content="all" />
    <meta name="page-type" content="private homepage" />
    <meta name="page-topic" content="service" />
    <meta http-equiv="Reply-to" content="flixoflax@gmx.de" />
    <meta name="expires" content="" />
    <meta name="revisit-after" content="2 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#171717" />
    <meta name="msapplication-TileColor" content="#171717" />
    <meta name="theme-color" content="#ffffff" />

    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@700&f[]=general-sans@600&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>

    <script
      defer
      data-domain="institut4000.gmbh"
      src="https://plausible.institut4000.gmbh/js/plausible.js"
    ></script>
  </head>
  <body>
    <Navbar items={navigation} />

    <slot />

    <Footer />

    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
